.hero{
    background-color: aliceblue;
    background-image: url("dokumenty-dwa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-attachment: fixed;
}

.container{
    padding-left: 8%;    
}

.container h1{
    font-size: 50px;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: -48px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 64px;
}

.flexbox-container{
    border-radius: 12px;
    background-color: #6b8bcc19;
    width: 300px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 0px 100px 0px #0000002e;
    backdrop-filter: blur(24px);
    transition: transform .3s;
}

.flexbox-container:hover{
    transform: scale(1.1);
}

.carousel-box{
    background-color: aliceblue;
    margin: 20px 4%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0px 0px 100px 0px #0000002e;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-bottom: 64px;
    align-items: center;
}
.carousel-box p{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 4%;
}
.carousel {
    
    width: 75%; /* Set the width of the carousel */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent logos from wrapping to next line */
}
  
.carousel-logo {
    display: inline-block; /* Display logos in a row */
    padding: 10px; /* Add spacing between logos */
    animation: scroll 10s linear infinite; /* Adjust the duration of the animation */
}
  
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Adjust based on the width of the carousel */
    }
}

.site-content{
    margin: 0% 4%;
    padding: 20px;
    background: linear-gradient(to right, rgba(240, 248, 255, 0.7), rgba(110, 224, 214, 0.496)); /* Add a gradient from rgba(240, 248, 255, 0.7) to rgba(255, 255, 255, 0.5) */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 50px;
}

.contact-form{
    display: flex;
}

.form-img{
    width: 50%;
    border-radius: 40px;
}