{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'webpage/index.css' %}">
{% endblock %}


{% block content %}
<div class="form-messages">
    {% if messages %}
        
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    {% endif %}
</div>
<div class="hero">
    <div class="container">
        <h1>
            Wiesz, co robisz najlepiej,<br>
            pozwól nam zająć się resztą
        </h1>
    </div>
</div>
<div class="flexbox">
    <div class="flexbox-container">
        <div class="icon-container">
            <img class="icon" src=" {% static 'webpage/svgs/alarm.svg' %}" alt="alarm">
        </div>
        <div class="flexbox-text">
            <p>
                Oszczędź czas
            </p>
        </div>
    </div>
    <div class="flexbox-container">
        <div class="icon-container">
            <img class="icon" src="{% static 'webpage/svgs/bar-chart.svg' %}" alt="bar-char">
        </div>
        <div class="flexbox-text">
            <p>
                Skaluj swój biznes
            </p>
        </div>
    </div>
    <div class="flexbox-container">
        <div class="icon-container">
            <img class="icon" src="{% static 'webpage/svgs/activity.svg' %}" alt="activity">
        </div>
        <div class="flexbox-text">
            <p>
                Trzymaj rękę na pulsie  
            </p>
        </div>
    </div>
    <div class="flexbox-container">
        <div class="icon-container">
            <img class="icon" src="{% static 'webpage/svgs/floppy.svg' %}" alt="floppy">
        </div>
        <div class="flexbox-text">
            <p>
                Uporzadkuj księgowośc
            </p>
        </div>
    </div>
</div>
<div class="carousel-box">
    <h1>Zaufali nam:</h1>
    <div class="carousel">
        <div class="carousel-logo"><img src="{% static 'webpage/companies-logos/1.png' %}" alt="Logo 1"></div>
        <div class="carousel-logo"><img src="{% static 'webpage/companies-logos/2.png' %}" alt="Logo 2"></div>
        <div class="carousel-logo"><img src="{% static 'webpage/companies-logos/3.png' %}" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="{% static 'webpage/companies-logos/4.png' %}" alt="Logo 4"></div>
        <div class="carousel-logo"><img src="{% static 'webpage/companies-logos/5.png' %}" alt="Logo 5"></div>
    </div>
</div>

<div class="site-content">
    <div class="contact-form" id="contact-form">
        <div class="form-img">
            <img src="{% static 'webpage/helpers.jpg' %}">
        </div>
        <div class="form">
            <form method="POST" action="{% url 'sentFormularz' %}">
                {% csrf_token %}
                <div class="form-title">
                    <h1>Skontaktuj się z nami</h1>
                </div>
                <div class="contact">
                    <div class="form-group">
                        <input type="text" id="imie" name="imie" placeholder="Imię i nazwisko"><br>
                        <input type="email form-control" id="email" name="email" placeholder="E-mail"><br>
                        <input type="tel form-control" id="telefon" name="telefon" placeholder="Numer telefonu"><br>
                    </div>
                    <div class="form-group">
                        <input class="text-message" type="text from-control" id="dodatkowe" name="dodatkowe" placeholder="Dodatkowe informacje">
                    </div>
                </div>
                <button type="submit" class="form-btn">Wyślij</button>
            </form>

        </div>
    </div>
    <div class="separator"></div>
    <div class="uslugi-container" id="uslugi">
        <div class="uslugi-txt">
            <h1>W Select Invest dostajesz:</h1>
            <ul>
                <li>Całodobowy dostęp do dokumentacji księgowej</li>
                <li>Powiadomienia o naleznościach do ZUS</li>
                <li>Pomoc przy upraszczaniu księgowości</li>
                <li>Księgowośc pełna i uproszczona</li>
                <li>Sprawozdania do GUS i NBP</li>
                
                <li>Raporty i analizy danych</li>
                <li>Rozliczenia roczne PIT</li>
                <li>Wirtualne biuro</li>
                
            </ul>
        </div>
        <div class="uslugi-img">
            <img src="{% static 'webpage/documents.jpg' %}">
        </div>
    </div>
    <div class="aktywne-promocje" id="aktywne-promocje">
        <div class="aktywne-promocje-img">
        </div>
        <div class="aktywne-promocje-txt">
            <h1>Aktywne promocje:</h1>
            <ul>
                <li>Wirtualne biuro</li>
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const carousel = document.querySelector('.carousel');
        const images = carousel.querySelectorAll('.carousel-logo');

        // Clone the first few images and append them to the end of the carousel
        
        images.forEach((image, index) => {
            if (index < 5) {
                const clonedImage = image.cloneNode(true);
                carousel.appendChild(clonedImage);
            }
        });
    });

    // Wait for the page to fully load
    document.addEventListener("DOMContentLoaded", function() {
        // Get the container element
        var container = document.querySelector('.container');
        // Show the container
        container.style.display = 'block';
    });
</script>
{% endblock %}