{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'webpage/index.css' %}">
{% endblock %}


{% block content %}
<div class="hero">
    <div class="container">
        <h1>
            Wiesz, co robisz najlepiej,<br>
            pozwól nam zająć się resztą
        </h1>
    </div>
</div>
<div class="flexbox">
    <div class="flexbox-container">
        Oferta dostosowana do Twoich potrzeb i wymagań
    </div>
    <div class="flexbox-container">
        Doświadczona kadra
    </div>
    <div class="flexbox-container">
        bobo
    </div>
    <div class="flexbox-container">
        bobo
    </div>
</div>
<div class="carousel-box">
    <p>Zaufali nam:</p>
    <div class="carousel">
        <div class="carousel-logo"><img src="logo1.png" alt="Logo 1"></div>
        <div class="carousel-logo"><img src="logo2.png" alt="Logo 2"></div>
        <div class="carousel-logo"><img src="logo3.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo4.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo5.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo6.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo7.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo3.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo4.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo5.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo6.png" alt="Logo 3"></div>
        <div class="carousel-logo"><img src="logo7.png" alt="Logo 3"></div>
    </div>
</div>

<div class="site-content">
    <div class="contact-form">
        <div>
            <img class="form-img" src="{% static 'webpage/helpers.jpg' %}">
        </div>
        <div class="form">
            <form class="contact" method="post">
                <div class="form-group">
                    <input type="text" id="imie" name="imie" placeholder="Imię i nazwisko">
                    <input type="text form-control" id="nazwa_firmy" name="nazwa_firmy" placeholder="Nazwa firmy">
                    <input type="email form-control" id="email" name="email" placeholder="E-mail">
                    <input type="tel form-control" id="telefon" name="telefon" placeholder="Numer telefonu">
                </div>
                <button type="submit" href="#">Wyślij</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}