{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biuro Rachunkowe Select-Invest</title>
    <link rel="stylesheet" href="{% static 'webpage/webpage.css' %}">
</head>
<body>
  <header>
      <nav class="navbar">
        <div>
          <a class="brand" href="{% url 'index' %}">SelectInvest</a>
        </div>
        <div>
          <a class="nav-link active" aria-current="page" href="{% url 'uslugi' %}">Usługi</a>
          <a class="nav-link" href="{% url 'formularz' %}">Formularz</a>
          <a class="nav-link" href="#"><button>Kontakt</button></a>
        </div>
      </nav>
  </header>

<div class="site-content">
  {% block content %}

  {% endblock %}
</div>
</body>
</html>