<!-- webpage/templates/rodo.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biuro Rachunkowe Select-Invest</title>
    <link rel="icon" type="image/png" href="{% static 'webpage/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'webpage/webpage.css' %}">  
    <link rel="stylesheet" href="{% static 'webpage/rodo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&family=Readex+Pro&display=swap" rel="stylesheet">

</head>
<body>
  <header>
      <nav class="navbar">
        <div>
          <a class="brand" href="{% url 'index' %}">
            <img class="logo" src="{% static 'webpage/czysteplaskie1.png' %}">
          </a>
        </div>
        <div>
          <a class="nav-link" href="#"><button>Kontakt</button></a>
        </div>
      </nav>
  </header>


<div class="site-content">
    <h1>RODO</h1>
    <p>
        Od 25 maja 2018 roku w Polsce obowiązywać zaczynają regulacje ujęte w ROZPORZĄDZENIU PARLAMENTU EUROPEJSKIEGO I RADY (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych (dalej „Rozporządzenie”). Z uwagi na powyższe koniecznym jest dostosowanie obecnych procedur dotyczących ochrony danych osobowych, stosowanych w Biurze Rachunkowym Select Invest sp. z o.o. do procedur wymaganych przepisami Rozporządzenia.
<br><br>Informujemy, że:<br>
Administratorem Pani/Pana danych osobowych jest Biuro Rachunkowe „Select Invest” Spółka z ograniczoną odpowiedzialnością, z siedzibą w  42-612 Tarnowskie Góry, ul. Wincentego Janasa 3<br>
Telefon: <b>+48 782 226 007,</b><br>  
e-mail: <b>biuro@selectinvest.pl</b><br><br>
Celem zbierania danych jest wykonanie umowy, której stroną jest Pani/Pan, oraz do podjęcia działań, przed zawarciem takiej umowy, jak również w celu prowadzenia marketingu bezpośredniego, w tradycyjnej formie listowej jak również drogą e-mailową oraz telefoniczną [pod warunkiem wyrażenia przez Panią/Pana odpowiednich zgód] w oparciu o uzasadniony interes, a gdzie to konieczne także o zgodę.
Przysługuje Pani/Panu prawo dostępu do treści danych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania, a także prawo sprzeciwu, zażądania zaprzestania przetwarzania i przenoszenia danych, jak również prawo do cofnięcia zgody w dowolnym momencie oraz prawo do wniesienia skargi do organu nadzorczego (tj.: Prezes Urzędu Ochrony Danych Osobowych).
Podanie danych jest dobrowolne, lecz niezbędne do wykonania umowy. W przypadku niepodania danych nie będzie możliwe wykonanie umowy.<br><br>
Dane udostępnione przez Panią/Pana nie będą bez Pani/Pana podlegały udostępnieniu podmiotom trzecim. Odbiorcami danych będą tylko instytucje upoważnione z mocy prawa.<br>
Dane udostępnione przez Panią/Pana nie będą podlegały profilowaniu.<br>
Dane osobowe będą przechowywane przez okres 20 lat, licząc od początku roku następującego po roku, w którym została wyrażona zgoda na przetwarzanie danych osobowych.<br>
    </p>
</div>
</div>
<footer class="footer">

  <p>Copyright &copy; 2023 Select-Invest. Wszelkie prawa zastrzeżone.</p>
  <p></p>
</footer>
</body>
</html>